@page
@model MascotaFeliz.App.Frontend.Pages.ListaDuenosModel
@{
}

<html>
    <head>
        <link href="~/css/StyleCDueno.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="Box">
             <div class="top">
                <h2>Lista de Dueños</h2>
                <a class="btn home" sp-area="" asp-page="./EditarDuenos"><img src="~/lib/Images/mas.png" height="30" width="30"></a>
            </div>
            <table class="table">
                <thead>
                    <tr class="colums">
                        <th scope="col"><strong>Nombre</strong></th>
                        <th scope="col"><strong>Apellido</strong></th>
                        <th scope="col"><strong>Correo</strong></th>
                        <th scope="col"><strong>Info</strong></th>   
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dueno in Model.listaDuenos)
                        {
                            <tr class="rows">
                                <td>@dueno.Nombre</td>
                                <td>@dueno.Apellido</td>
                                <td>@dueno.Correo</td>
                                <td>
                                    <a class="btn" asp-page="./DetallesDueno" asp-route-IdDueno="@dueno.Id">
                                                Detalle
                                    </a>
                                    <a class="btn" asp-page="./EditarDuenos" asp-route-duenoId="@dueno.Id">
                                        Editar
                                    </a>
                                </td>
                            </tr>
                        }
                </tbody>                
            </table>
        </div>
    </body>
</html>

            