@page
@model MascotaFeliz.App.Frontend.Pages.DetallesMascotaModel
@{
}
<h1>Informacion del la mascota</h1>

<div class="box">
    <div>
        Id: @Model.mascota.Id
    </div>
    <div>
        Nombre: @Model.mascota.Nombre
    </div>
    <div>
        Color: @Model.mascota.Color
    </div>
    <div>
        Raza: @Model.mascota.Raza
    </div>
    <div>
        Especie: @Model.mascota.Especie
    </div>
    <div>
        Dueño: @Model.mascota.Dueno.Nombre
    </div>
    <div>
        Veterinario: @Model.mascota.Veterinario.Nombre
    </div>
</div>
<a href="./ListaMascotas" class="btn-default">Lista de mascotas</a>